html {
  scroll-behavior: smooth;
}

.rom {
  margin-left: 350px;

}

.rom i {
  display: inline-block;
  transition: all 0.3s ease;
  color: white;
}

.rom i:hover {
  transform: rotateY(180deg);
  color: white;
}

h6 {
  color: white;
}

small {
  color: white;
}

.span-sparates {
  margin-left: 10px;
}

.contact-info i {
  font-size: 24px;
  color: #6c757d;
  margin-right: 10px;
}

.btn-send {
  border: 1px solid red;
  color: red;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 10px 30px;
}

.btn-send:hover {
  background-color: red;
  color: white;
}



#scrollBtn {
  z-index: 999;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: none;
}